<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="lewiszlw.redenvelope.mapper.RedEnvelopeDetailMapper" >

    <resultMap id="baseResultMap" type="lewiszlw.redenvelope.entity.EnvelopeDetailEntity">
        <id column="id" property="id"/>
        <result column="user" property="user"/>
        <result column="type" property="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="amount" property="amount"/>
        <result column="size" property="size"/>
        <result column="remain_money" property="remainMoney"/>
        <result column="remain_size" property="remainSize"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="baseColumns" >
        `user`, `type`, amount, `size`, remain_money, remain_size, created_time, updated_time
    </sql>

    <insert id="insertOne" parameterType="lewiszlw.redenvelope.entity.EnvelopeDetailEntity" useGeneratedKeys="true" keyProperty="id">
        insert into envelope_detail
        (<include refid="baseColumns" />)
        values
        (
        #{envelopeDetailEntity.user},
        #{envelopeDetailEntity.type, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
        #{envelopeDetailEntity.amount},
        #{envelopeDetailEntity.size},
        #{envelopeDetailEntity.remainMoney},
        #{envelopeDetailEntity.remainSize},
        now(),
        now()
        )
    </insert>

    <select id="selectOne" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select * from envelope_detail
        where id = #{envelopeId}
    </select>

    <update id="updateOne" >
        update envelope_detail
        set
        remain_money = #{envelopeDetailEntity.remainMoney},
        remain_size = #{envelopeDetailEntity.remainSize},
        updated_time = now()
        where id = #{envelopeDetailEntity.id}
    </update>

</mapper>
